
/* General layout */

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-image: url();
    background-repeat: no-repeat;
    background-position: bottom -300px right -200px;
    background-attachment: fixed;
    background-size: 65%;
}

.layer {
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
    text-align: center;
}

.left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header h1 {
    font-size: 2em;
    margin: 10px 0;
}

/* Score panel */

.score-panel {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.circles-ranking {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3px 0 0 0;
    padding: 0;
    color: #793236;
    font-size: 0.8em;
}

.circles-ranking li + li {
    padding-left: 8px;
}

.restart {
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 1;
    font-size: 1em;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.restart:hover {
   font-size: 1.2em;
   color: #793236;
}

/* Game cards */

.deck {
    margin: 20px auto;
    padding: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    grid-gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #4b06061a;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.card {
    position: relative;
    -webkit-perspective: 300px;
            perspective: 300px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.card-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 7px;
    -webkit-transition: all 0.5s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.front {
    background-image: url(../img/card_back.svg);
    background-color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.fontawesome- {
    color: #a50b132f;
}

/* Win popup */

.win-popup {
    margin: 0 auto;
    font-size: 1em;
    position: fixed;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 35%;
    z-index: 1;
    border: solid 1px #793236;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.replay {
    font-size: 1em;
    border: none;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.replay:hover {
    cursor: pointer;
    color: #793236;
    font-weight: bold;
    font-size: 1.2em;
}

.popup-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

/* Interactive elements */

.inactive {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }

.active {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    background-color: white;
}

.matched {
            -webkit-animation: cardMatch 0.8s;
                    animation: cardMatch 0.8s;
    background-color: white;
}


@-webkit-keyframes cardMatch {
    0% {
                -webkit-transform: scale(.5);
                        transform: scale(.5);
    }

    50% {
        background-color: #793236;
    }

    100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
    }
}


@keyframes cardMatch {
    0% {
                -webkit-transform: scale(.5);
                        transform: scale(.5);
    }

    50% {
        background-color: #793236;
    }

    100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
    }
}

/* Media queries */

@media screen and (max-width: 426px) {

    body {
        background-position: bottom -150px right -350px;
        background-size: 150%;
    }
    
    .header h1 {
        font-size: 1.2em;
        padding: 20px 0;
    }
    
    .score-panel {
        width: 80%;
    }
}

@media screen and (min-width: 426px) and (max-width: 1200px) {

    body {
        background-position: bottom -250px right -375px;
        background-size: 80%;
    }
    
    .header h1 {
        font-size: 1.2em;
        padding: 20px 0;
    }
    
    .score-panel {
        width: 40%;
    }
}
